<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Academy</title>

    <form action="/">
      <label for="nome">Digite o seu nome:</label><br>
      <input type="text" id="nome" name="nome"><br>
      <label for="cpf">Digite o seu CPF:</label><br>
      <input type="text" id="cpf" name="cpf"><br><br>
      <input type="submit" value="Validar">
    </form>
    

</head>

<body>

  
